<div>
    <h2>Edit Profile Fields</h2>
    <form>
        <div>
            <label for="exampleInputText">Company</label>
            <input type="text" class="form-control" id="exampleInputText" >
            <label for="exampleInputText">EmployeeID</label>
            <input type="text" class="form-control" id="exampleInputText" >
            <!-- <label for="exampleInputText">Email</label>
            <input type="text" class="form-control" id="exampleInputText" ng-model="editUser.email" > -->

        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a href="#/time" ><button type="button" class="main btn btn-primary">Back</button></a>
    </form>
</div>
