<div class="">
    <h2>Edit Profile Fields</h2>
    <form ng-submit="editProfile()">
        <div class="form-group">
            <label for="exampleInputText">Company</label>
            <input type="text" class="form-control" id="exampleInputText" ng-model="edituser.company" >
            <label for="exampleInputText">EmployeeID</label>
            <input type="text" class="form-control" id="exampleInputText" ng-model="edituser.employeeId" >
            <!-- <label for="exampleInputText">Email</label>
            <input type="text" class="form-control" id="exampleInputText" ng-model="editUser.email" > -->

        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
