<div class="row">
    <h2>Welcome to Work Punch,</h2>
    <p>
        Work punch is an office/work application that allows business to manage their employees' office hours, time off, sick days and more. This is a prototype for a much larger application, which will offer alot more feature that would benefit business/companies alike making their managing skills and employee more aware and effective at their jobs.

    </p>

    <form ng-submit="addName()">
        <div class="form-group">
            <label for="exampleInputText">Employee ID</label>
            <input type="text" class="form-control" id="exampleInputText" placeholder="Employee ID" ng-model="name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div>
        <p ng-repeat="user in users"> Hey {{user.$value}}</p>
    </div>
</div>
