<div class="row">
    <div class="">
        <form>
            <div class="form-group">
                <label for="exampleInputText">Employee ID</label>
                <input type="text" class="form-control" id="exampleInputText" placeholder="Employee ID" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" >
            </div>
            <div class="form-group">
                <label for="exampleInputFName">First Name</label>
                <input type="text" class="form-control" id="exampleInputFName" placeholder="John" >
            </div><div class="form-group">
                <label for="exampleInputLName">Last Name</label>
                <input type="text" class="form-control" id="exampleInputLName" placeholder="Smith" >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">Employee ID</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Company</label>
                <input type="text" class="form-control" id="exampleInputText2" placeholder="Full Sail" >
            </div>
            <button type="submit" class="btn btn-default">Complete</button>
            <a href="#/main" ><button type="button" class="main btn btn-primary">Back</button></a>
        </form>
    </div>
</div>
