<div class="row">
    <p>
        Tasks: {{punchcard.dailytasks}}
    </p>
    <button type="submit" class="btn btn-btn-danger" ng-click="removeTasks()">Delete</button>
    <a href="#/time" ><button type="button" class="main btn btn-primary">Back</button></a>
</div>
<div class="row">
    <h2>New Tasks</h2>
    <form ng-submit="dailyTasks()">
        <div class="form-group">
            <label for="exampleInputText">Task</label>
            <input type="text" class="form-control" id="exampleInputText" ng-model="usertask.task" >
        </div>
        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>
